<!-- Top Brand Navbar -->


<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="<%= root_path %>">
    <img src="http://res.cloudinary.com/dcbeoroxh/image/upload/v1489326673/plogo4_pt3aaq.png" width="70" height="80" alt="Paulina Sudjatmiko">
  </a>
</nav>



<!-- Side Navbar -->
<div class="col-md-1">
  <div id="mySidenav" class="sidenav">
    <a href="<%=root_path %>" id="home">Home</a>
    <a href="<%= pages_about_path %>" id="about">About</a>
    <a href="<%= pages_portfolio_path %>" id="portfolio">Portfolio</a>
    <a href="<%= pages_skills_path %>" id="skills">Skills</a>
    <a href="<%= pages_contact_path %>" id="contact">Contact</a>
  </div>
</div>
